.Wrapper__cards
  .Contents
    .Contents__title
      クレジットカード情報入力
    = form_tag(pay_credit_card_index_path, method: :post,　Contents__card, id: 'charge-form', name: "inputForm") do
      .Contents__card__name
        .Contents__card__name--text
          カード番号
        .Contents__card__name--must
          必須
      = text_field_tag "number", "", class: "number", class: "Contents__card--input", placeholder: "半角数字のみ", maxlength: "16", type: "text", id: "card_number"
      .Contents__card__picture
        =image_tag "/assets/visa.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/master-card.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/saison-card.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/jcb.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/american_express.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/dinersclub.svg", class: "Contents__card__picture__phot"
        =image_tag "/assets/discover.svg", class: "Contents__card__picture__phot"

      .Contents__date__name
        .Contents__date__name--text
          有効期限
        .Contents__date__name--must
          必須
      .Contents__date__name--select
        %select#exp_month{name: "exp_month", type: "text", class: "Contents__date__name--select__num"}
          %option{label: :"01", value: :"" }
          %option{label: :"02", value: :"" }
          %option{label: :"03", value: :"" }
          %option{label: :"04", value: :"" }
          %option{label: :"05", value: :"" }
          %option{label: :"06", value: :"" }
          %option{label: :"07", value: :"" }
          %option{label: :"08", value: :"" }
          %option{label: :"09", value: :"" }
          %option{label: :"10", value: :"" }
          %option{label: :"11", value: :"" }
          %option{label: :"12", value: :"" }
        月

        %select#exp_year{name: "exp_year", type: "text", class: "Contents__date__name--select__num"}
          %option{label: :"20", value: :"" }
          %option{label: :"21", value: :"" }
          %option{label: :"22", value: :"" }
          %option{label: :"23", value: :"" }
          %option{label: :"24", value: :"" }
          %option{label: :"25", value: :"" }
          %option{label: :"26", value: :"" }
          %option{label: :"27", value: :"" }
          %option{label: :"28", value: :"" }
          %option{label: :"29", value: :"" }
          %option{label: :"30", value: :"" }
        年

      .Contents__card__name
        .Contents__card__name--text
          セキュリティコード
        .Contents__card__name--must
          必須
      = text_field_tag "cvc", "", class: "cvc", class: "Contents__card--input", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"


    .Contents__Exhibition
      .Contents__Exhibition__btn
        = submit_tag "追加する", id: "token_submit", class: "Contents__Exhibition__btn--btn"
